*.log
*_test.go
.next
/.github
/.idea
/bin
/node_modules
/tmp
/ui/node_modules/
Dockerfile*
Makefile
README.md
coverage
dist
node_modules
out
testdata/
ui/packages/app/template/
ui/packages/app/web/node_modules
