{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "ui/packages/app/grafana**/**/*",
      "options": {
        "trailingComma": "es5",
        "singleQuote": true,
        "bracketSpacing": true,
        "arrowParens": "always",
        "printWidth": 120
      }
    }
  ]
}
