image: quay.io/conprof/conprof:TAG
manifests:
  - image: quay.io/conprof/conprof:TAG-linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: quay.io/conprof/conprof:TAG-linux-arm64
    platform:
      architecture: arm64
      os: linux
  - image: quay.io/conprof/conprof:TAG-linux-arm
    platform:
      architecture: arm
      os: linux
