/* The following block can be included in a custom.scss */

/* make the customizations */
$body-bg: #f4f6fc;
$jumbotron-bg: #e4e8f0;
$primary: #339999;
$secondary: #0071bc;

$theme-colors: (
  'light': white
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

