{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@parca/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "ui/packages/app/grafana**/**/*",
      "options": {
        "trailingComma": "es5",
        "singleQuote": true,
        "bracketSpacing": true,
        "arrowParens": "always",
        "printWidth": 120
      }
    }
  ]
}
