name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
    - main
    - release-*
  pull_request:
    branches:
    - main
    - release-*
  merge_group:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=npm depName=pnpm versioning=npm
  PNPM_VERSION: '10.15.0'

jobs:
  skip-check:
    name: Skip check
    continue-on-error: true
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    permissions:
      actions: write
      contents: read
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5.3.1
        with:
          do_not_skip: '["push", "schedule", "workflow_dispatch"]'
          paths: |-
            [
              "**.go",
              ".github/workflows/go-lint.yml",
              ".go-version",
              ".golangci.yml",
              ".node-version"
            ]
          skip_after_successful_duplicate: false

  lint:
    name: Go Lint
    needs: skip-check
    if: ${{ needs.skip-check.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: .go-version
          cache: false

      - name: Set up environment
        run: |
          ./env.sh

      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
          cache-dependency-path: ui/pnpm-lock.yaml

      - name: Build UI
        run: make ui/build

      - name: Install dependencies
        run: make go/deps

      - name: Build
        run: make go/build

      - name: Format
        run: make go/fmt && git diff --exit-code ':!ui/packages/app/web/build'

      - name: Lint
        run: make go/lint
