name: Go

on:
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18

      - name: Build UI
        run: make ui/build

      - name: Test
        run: make go/test

      - name: Build
        run: make build

      - name: Archive generatated artifacts
        uses: actions/upload-artifact@v3
        with:
          name: parca-bin
          if-no-files-found: error
          path: |
            bin
