name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
    paths:
      - '**.go'
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build UI
        run: make ui
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.44
