name: Publish UI Components

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: false

jobs:
  skip-check:
    name: Skip check
    continue-on-error: true
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    permissions:
      actions: write
      contents: read
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@12aca0a884f6137d619d6a8a09fcc3406ced5281 # v5.3.0
        with:
          do_not_skip: '["schedule", "workflow_dispatch"]'
          paths: |-
            [
              ".node-version",
              "ui/**"
            ]
          skip_after_successful_duplicate: false

  publish-ui-components:
    name: Publish UI components to NPM
    needs: skip-check
    if: ${{ needs.skip-check.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      GITHUB_TOKEN: ${{ secrets.GH_PAT_UI }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: "0"
          token: ${{ secrets.GH_PAT_UI }}

      - name: Pull all tags for Lerna semantic release
        run: |
          git fetch --depth=1 origin +refs/tags/*:refs/tags/* && \
          git fetch origin +refs/heads/main:refs/remotes/origin/main && \
          git checkout main

      - name: Set up Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version-file: .node-version
          cache: 'yarn'
          cache-dependency-path: ui/yarn.lock

      - name: Ensure access
        working-directory: ui
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPMTOKEN }}

      - name: Config git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Install packages with yarn
        working-directory: ui
        run: yarn install

      - name: Build Packages
        working-directory: ui
        run: yarn build

      - name: Bump versions and publish packages
        working-directory: ui
        run: yarn publish:ci
        env:
          GH_TOKEN: ${{ secrets.GH_PAT_UI }}
